In [1]:
import pandas as pd 
import numpy as np 
import ast

In [2]:
# movies_metadata=pd.read_csv('data/movies_metadata.csv')
# movies_metadata.to_pickle('data/movies_metadata.pkl')

movies=pd.read_pickle('data/movies_metadata.pkl')

In [3]:
movies['production_countries'][0]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

### HANDLE DATA

In [4]:
country_dict = dict()
movie_country_dict = dict()
movie_production_country_id = 0
for country_info, movie_id in zip(movies['production_countries'],movies['id']):
    country_info_list = ast.literal_eval(country_info)
    try:
        for ind_country_info in country_info_list:
            production_country_code = ind_country_info['iso_3166_1']
            if production_country_code in country_dict:
                pass
            else:
                country_value = {'production_country_name':ind_country_info.get('name')}
                country_dict[production_country_code] = country_value
            movie_country_value = {'movie_id':movie_id, 'production_country_code': production_country_code}
            movie_country_dict[movie_production_country_id] = movie_country_value
            movie_production_country_id += 1
    except:
        print(country_info_list,movie_id)

In [5]:
country_df = pd.DataFrame.from_dict(country_dict, orient = 'index')
movie_country_df = pd.DataFrame.from_dict(movie_country_dict, orient = 'index')
country_df['production_country_code'] = country_df.index
country_df = country_df.reset_index(drop = True)
movie_country_df['movie_production_country_code'] = movie_country_df.index
movie_country_df = movie_country_df.reset_index(drop = True)

In [8]:
country_df = country_df[['production_country_code','production_country_name']]
country_df.head()

  production_country_code production_country_name
0                      AE    United Arab Emirates
1                      AF             Afghanistan
2                      AL                 Albania
3                      AM                 Armenia
4                      AN    Netherlands Antilles

In [9]:
movie_country_df = movie_country_df[['movie_production_country_code','movie_id','production_country_code']]
movie_country_df.head()

   movie_production_country_code  movie_id production_country_code
0                              0       862                      US
1                              1      8844                      US
2                              2     15602                      US
3                              3     31357                      US
4                              4     11862                      US

In [10]:
country_df.to_csv('outdata/production_country.csv',index=False)
movie_country_df.to_csv('outdata/movie_production_country.csv',index=False)