In [1]:
import pandas as pd 
import numpy as np 
import ast

In [2]:
# movies_metadata=pd.read_csv('data/movies_metadata.csv')
# movies_metadata.to_pickle('data/movies_metadata.pkl')

movies=pd.read_pickle('data/movies_metadata.pkl')

### HANDLE DATA

In [3]:
# CREATE CAST DF
pco_dict = dict()
movie_pco_dict = dict()
movie_pco_id = 0
for pco_info, movie_id in zip(movies['production_companies'],movies['id']):
    pco_info_list = ast.literal_eval(pco_info)
    for ind_pco_info in pco_info_list:
        pco_id = ind_pco_info['id']
        if pco_id in pco_dict:
            pass
        else:
            pco_value = {'pro_name':ind_pco_info.get('name')}
            pco_dict[pco_id] = pco_value
        movie_pco_value = {'movie_id':movie_id, 'pco_id': pco_id}
        movie_pco_dict[movie_pco_id] = movie_pco_value
        movie_pco_id += 1

In [4]:
pco_df = pd.DataFrame.from_dict(pco_dict, orient = 'index')
movie_pco_df = pd.DataFrame.from_dict(movie_pco_dict, orient = 'index')
pco_df['pco_id'] = pco_df.index
pco_df = pco_df.reset_index(drop = True)
movie_pco_df['movie_pco_id'] = movie_pco_df.index
movie_pco_df = movie_pco_df.reset_index(drop = True)

In [7]:
movie_pco_df.columns = [['movie_id','production_co_id','movie_production_co_id']]
movie_pco_df = movie_pco_df[['movie_production_co_id','movie_id','production_co_id']]
movie_pco_df.head()

  movie_production_co_id movie_id production_co_id
0                      0      862                3
1                      1     8844              559
2                      2     8844             2550
3                      3     8844            10201
4                      4    15602             6194

In [11]:
pco_df.columns = [['production_co_name','production_co_id']]
pco_df = pco_df[['production_co_id','production_co_name']]
pco_df.head()

  production_co_id       production_co_name
0                1                Lucasfilm
1                2     Walt Disney Pictures
2                3  Pixar Animation Studios
3                4       Paramount Pictures
4                5        Columbia Pictures

In [12]:
movie_pco_df.to_csv('outdata/movie_production_company.csv',index=False)
pco_df.to_csv('outdata/production_company.csv',index=False)