In [59]:
import pandas as pd 
import numpy as np 
import ast

In [14]:
movies_metadata=pd.read_csv('data/movies_metadata.csv')
movies_metadata.to_pickle('data/movies_metadata.pkl')

movies=pd.read_pickle('data/movies_metadata.pkl')

In [15]:
movies['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

### HANDLE DATA

In [16]:
genre_dict = dict()
movie_genre_dict = dict()
movie_genre_id = 0
for genre_info, movie_id in zip(movies['genres'],movies['id']):
    genre_info_list = ast.literal_eval(genre_info)
    for ind_genre_info in genre_info_list:
        genre_id = ind_genre_info['id']
        if genre_id in genre_dict:
            pass
        else:
            genre_value = {'genre_name':ind_genre_info.get('name')}
            genre_dict[genre_id] = genre_value
        movie_genre_value = {'movie_id':movie_id, 'genre_id': genre_id}
        movie_genre_dict[movie_genre_id] = movie_genre_value
        movie_genre_id += 1

In [17]:
genre_df = pd.DataFrame.from_dict(genre_dict, orient = 'index')
movie_genre_df = pd.DataFrame.from_dict(movie_genre_dict, orient = 'index')
genre_df['genre_id'] = genre_df.index
genre_df = genre_df.reset_index(drop = True)
movie_genre_df['movie_genre_id'] = movie_genre_df.index
movie_genre_df = movie_genre_df.reset_index(drop = True)

In [18]:
movie_genre_df = movie_genre_df[['movie_genre_id','movie_id','genre_id']]
movie_genre_df.head()

   movie_genre_id  movie_id  genre_id
0               0       862        16
1               1       862        35
2               2       862     10751
3               3      8844        12
4               4      8844        14

In [19]:
genre_df = genre_df[['genre_id','genre_name']]
genre_df.head()

   genre_id genre_name
0        12  Adventure
1        14    Fantasy
2        16  Animation
3        18      Drama
4        27     Horror

In [20]:
movie_genre_df.to_csv('outdata/movie_genre.csv',index=False)
genre_df.to_csv('outdata/genre.csv',index=False)

In [65]:
movie_genre_df = pd.read_csv('outdata/movie_genre.csv')
genre_df = pd.read_csv('outdata/genre.csv')

In [82]:
genre_map = {}
i = 0
for id in genre_df.genre_id:
    genre_map[id] = i
    i += 1
genre_df.genre_id = genre_df.genre_id.map(genre_map)
movie_genre_df.genre_id = movie_genre_df.genre_id.map(genre_map)

In [86]:
genre_df.head()

   genre_id genre_name
0         0  Adventure
1         1    Fantasy
2         2  Animation
3         3      Drama
4         4     Horror

In [85]:
movie_genre_df.head()

   movie_genre_id  movie_id  genre_id
0               0       862         2
1               1       862         6
2               2       862        16
3               3      8844         0
4               4      8844         1

In [87]:
movie_genre_df.to_csv('outdata/movie_genre_newGenreId.csv',index=False)
genre_df.to_csv('outdata/genre_newGenreId.csv',index=False)