In [2]:
import pandas as pd 
import numpy as np 
import ast

In [3]:
# credits=pd.read_csv('data/credits.csv')
# movies_metadata=pd.read_csv('data/movies_metadata.csv')

# credits.to_pickle('data/credits.pkl')
# movies_metadata.to_pickle('data/movies_metadata.pkl')

credits=pd.read_pickle('data/credits.pkl')
movies_metadata=pd.read_pickle('data/movies_metadata.pkl')

In [19]:
credits = credits[['id','cast']]
credits.head()

      id                                               cast
0    862  [{'cast_id': 14, 'character': 'Woody (voice)',...
1   8844  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  15602  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  31357  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  11862  [{'cast_id': 1, 'character': 'George Banks', '...

### HANDLE DATA

In [6]:
def gender2str(n):
    if n == 2:
        return 'M'
    else:
        return 'F'

In [7]:
# CREATE CAST DF
cast_dict = dict()
movie_cast_dict = dict()
movie_cast_id = 0
for cast_info, movie_id in zip(credits['cast'],credits['id']):
    cast_info_list = ast.literal_eval(cast_info)
    for ind_cast_info in cast_info_list:
        cast_id = ind_cast_info['id']
        if cast_id in cast_dict:
            pass
        else:
            cast_value = {'gender':gender2str(ind_cast_info.get('gender')), 'profile_path':ind_cast_info.get('profile_path'), 'name':ind_cast_info.get('name')}
            cast_dict[cast_id] = cast_value
        movie_cast_value = {'id':movie_id, 'cast_id': cast_id, 'character': ind_cast_info.get('character'),'credit_id':ind_cast_info.get('credit_id')}
        movie_cast_dict[movie_cast_id] = movie_cast_value
        movie_cast_id += 1

In [8]:
cast_df = pd.DataFrame.from_dict(cast_dict, orient = 'index')
movie_cast_df = pd.DataFrame.from_dict(movie_cast_dict, orient = 'index')
cast_df['cast_id'] = cast_df.index
cast_df = cast_df.reset_index(drop = True)
movie_cast_df['movie_cast_id'] = movie_cast_df.index
movie_cast_df = movie_cast_df.reset_index(drop = True)

In [12]:
movie_cast_df = movie_cast_df[['movie_cast_id','id','cast_id','character']]
movie_cast_df.columns = [['movie_cast_id','movie_id','cast_id','cast_character']]
movie_cast_df.head()

  movie_cast_id movie_id cast_id           cast_character
0             0      862      31            Woody (voice)
1             1      862   12898   Buzz Lightyear (voice)
2             2      862    7167  Mr. Potato Head (voice)
3             3      862   12899       Slinky Dog (voice)
4             4      862   12900              Rex (voice)

In [17]:
cast_df = cast_df[['cast_id','gender','name']]
cast_df.columns = [['cast_id','gender','cast_name']]
cast_df.head()

  cast_id gender      cast_name
0       1      M   George Lucas
1       2      M    Mark Hamill
2       3      M  Harrison Ford
3       4      F  Carrie Fisher
4       5      M  Peter Cushing

In [ ]:
movie_cast_df.to_csv('outdata/movie_cast.csv')
cast_df.to_csv('outdata/cast.csv')